@font-face {
  font-family: $title-font;
  src: url('../fonts/Bitter/Bitter-Bold.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: $body-font;
  src: url('../fonts/SourceCode/SourceCodePro-ExtraLight.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: $bodyReg-font;
  src: url('../fonts/SourceCode/SourceCodePro-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  @include bodytext;
  font-family: $body-font;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: blue;
}

img {
  width: 100%;
  height: auto;
}