.contactForm {
  margin-bottom: 30px;
}
input,
textarea,
button {
  font-family: $bodyReg-font;
  font-size: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: none;
  border-bottom: 1px solid;
}
.step-3 {
  width: 70%;
  margin-top: 20px;
}
textarea {
  resize: none;
  padding: 10px;
  background: #f2f2f2;
  border: 0;
  width: 100%;
}
button {
  cursor: pointer;
  margin-right: 15px;
}
.step {
  margin-right: 20px;
  display: inline-block;
}

button,
.form-link {
  font-family: $bodyReg-font;
  color: blue;
  border-bottom: 1px solid;
}

.services {
  list-style: none;
  margin: 0;
  padding: 0;
}
.service-item {
  display: inline-block;
  cursor: pointer;
  font-family: $bodyReg-font;
  &--active {
    background: blue;
    color: #FFF;
  }
}
.service-item:not(:last-child) {
  margin-right: 25px;
}

.error {
  font-family: $bodyReg-font;
}

.form-input {
  padding: 20px 0;
}

.form-group p {
  margin-bottom: 5px;
}

.eytyy {
  font-size: 2em;
  position: relative;
  top: 0.2em;
  margin-right: 10px;
}

.botty {
  margin-bottom: 10px;
}
.form-btns {
  display: inline-block;
}