@import 'projects-nav';

.anchor {
  font-family: $bodyReg-font;
}
.section {
  p, &__list {
    display: inline;
  }
  &__title {
    font-size: inherit;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  @include respond-to(compact) {
    .section__header {
      display: none;
    }
  }
}