.icon {
  font-style: normal;
}

.rock-on {
  font-size: 100%;
  display: inline-block;
}

.svg-icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

svg {
  width: 100%;
  height: auto;
}

#github-icon-text,
  #ion-social-linkedin---Ionicons {
  fill: blue;
}
