.icon {
  font-style: normal;
}

.rock-on {
  font-size: 100%;
  display: inline-block;
}

.svg-icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
}

svg {
  width: 100%;
  height: auto;
}

#github-icon-text,
  #ion-social-linkedin---Ionicons {
  fill: blue;
}

%player-controls-on-fullimage {
  position: absolute;
  width: 100%;
  height: 100%;
}