@mixin bodytext {
  font-size: calc(1.5vh + 1.2vw);
  @include respond-to(medium) {
    font-size: calc(1.25vh + 1.15vw);
  }
  @include respond-to(large) {
    font-size: calc(1vh + 1vw);
  }
  @include respond-to(xlarge) {
    font-size: calc(2.5vh);
  }
}

@mixin respond-to($breakpoint) {
  // Get the query map for $breakpoints map
  $bp: map-get($breakpoints, $breakpoint);
  // If there is no query called $breakpoint in map, throw an error
  @if not $bp {
    @error "No value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }
  // Include the media mixin with $queries
  @media #{$bp} {
    @content;
  }
}
