%showLabel {
  @include respond-to(medium) {
    content: attr(data-name);
    text-indent: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 10px), -50%);
  }  
}

.js-nav-is-visible {
  .projects-nav {
    background: yellow;
  }
  @include respond-to(medium) {
    .projects-nav {
      background: none;
    }    
  }  
  @include respond-to(large) {
    width: 30px;
  }  
}

.close-projects {
  display: block;
}

.project-nav__item {
  font-size: 15px;
  position: relative;
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
  transition: all 0.1s linear;
  cursor: pointer;
  &--link {
    background-color: blue;
    border-radius: 100%;
    text-indent: -999px;
  }
  &.js-active {
    height: 2px;
    border-radius: 0;
  }
  &:hover:after {
    @extend %showLabel;
    font-size: 11px;
  }
  @include respond-to(medium) {
    margin-bottom: 15px;
  }
  @include respond-to(large) {
    font-size: 25px;
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
    &:after {
      font-size: 16px;
    }
    &.js-active {
      height: 4px;
      width: 30px;
    }
  }
}
projects-nav-btn {
  margin-bottom: 10px;
}
.project-nav__item--icon {
  width: auto;
  height: auto;
}

.gohome {
  border-radius: 0;
}