%showLabel {
  content: attr(data-name);
  text-indent: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}
.close-projects {
  display: block;
}
.projects-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transform: translate(calc(-100% - 40px), 1.2em);
}
.project-nav__item {
  font-size: 12px;
  position: relative;
  width: 12px;
  height: 12px;
  margin-bottom: 15px;
  transition: all 0.1s linear;
  cursor: pointer;
  &--link {
    background-color: blue;
    border-radius: 100%;
    text-indent: -999px;
  }
  &:hover:after {
    @extend %showLabel;
    font-size: 11px;
  }
  &.js-active {
    width: 12px;
    height: 2px;
    border-radius: 0;
  }
  @include respond-to(large) {
    width: 10px;
    height: 10px;
     &.js-active {
      &:after {
        font-size: 14px;
      }
    }
  }
  @include respond-to(xlarge) {
    width: 15px;
    height: 15px;
     &.js-active {
      width: 15px;
      &:after {
        font-size: 16px;
      }
    }
  }
}
projects-nav-btn {
  margin-bottom: 10px;
}
.project-nav__item--icon {
  width: auto;
  height: auto;
}
.project-nav__item--type {
  width: auto;
  height: auto;
  font-size: 16px;
  font-family: 'Bitter-Bold';
}