.project__title {
  @include headline;
  margin-top: 0;
}
.project-details {
  p {
    display: inline;
    margin-left: 5px;
  }
}
.c-project {
  display: inline-block;
  &:after {
    content: ',';
  }
  &:last-child:after {
    content: '.';
  }
  &--active {
    font-family: 'SCPR';
    display: block;
    margin: 20px 0;
    &:after {
      content: '';
    }
  }
}

.project-link {
  cursor: default;
}