.project__title {
  margin-top: 0;
}
.project-details {
  display: inline;
  .project-description {
    display: inline;
    margin-left: 5px;
  }
  p {
    display: inline;
  }
}
.c-project {
  display: inline-block;
  &:after {
    content: ',';
    margin-right: 15px;
  }
  &:last-child:after {
    content: '.';
  }
  &--active {
    display: block;
    margin: 20px 0 30px;
    &:last-child:after,
    &:after {
      content: '';
      margin-right: 0;
    }
  }
}

.project-bottom {
  margin-top: 10px;
  font-size: 0.75em;
}

.project-link {
  cursor: pointer;
  font-family: "SCPR";
  .c-project--active & {
    color: #000;
  } 
}

#eye-icon__text {
  fill: blue;
}
.project-links__item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  .icon {
    top: 1px;
  }
}
.project-links__item--website:after {
  content: 'visit website';
  display: inline-block;
  margin-left: 5px;
}

.collaborator {
  margin-right: 5px;
  &:after {
    content: ',';
  }
  &:last-child:after{
   content: '.'; 
  }
}