.project__title {
  @include headline;
  margin-top: 0;
}
.project-details {
  display: inline;
  .project-description {
    display: inline;
  }
  p {
    display: inline;
  }
}
.c-project {
  display: inline-block;
  &:after {
    content: ',';
  }
  &:last-child:after {
    content: '.';
  }
  &--active {
    font-family: 'SCPR';
    display: block;
    margin: 20px 0;
    &:after {
      content: '';
    }
  }
}

.project-links {
  margin-top: 5px;
}

.project-link {
  cursor: pointer;
}

#eye-icon__text {
  fill: blue;
}
.project-links__item {
  display: flex;
  align-items: center;
}
.project-links__item--website:hover:after {
  content: 'visit website';
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
}